.block{
    margin: 10px;
    padding: 10px;
    border: 2px solid mediumseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub{
    width: 20%;
    display: flex;
    justify-content: start;
}

.button{
    width: 10%;
    height: 10%;
}

