.main {
    margin: 10px;
    padding: 5px;
    border: 2px solid #61dafb;
    border-radius: 0.4em;
    background: beige;
}

.sub{
    margin: 10px;
    padding: 5px;
    border: 1px solid deeppink;
    border-radius: 0.4em;
    background: beige;
}